<div id="content-page">
    <div  class="row">

    <div id="sidebar" class="large-3 medium-4 columns">
        <div class="nav-view">
            <ul>
                <li><a href="#/como_funciona" class="active">Cómo funciona</a></li>
                <li><a href="#/ayuda">Preguntas Frecuentes</a></li>
                <li><a href="#/contacto">Contacto</a></li>
            </ul>
        </div>

        <div class="box contact">
            <div class="margin">
                <a href="#/contacto">Te ayudamos</a>
                <p>En <b>Tucarga</b> siempre estamos dispuesto a ayudarte, habla con nosotros al 600 500 0606</p>
            </div>
        </div>
    </div> <!-- {{! end sidebar }} -->

    <div id="content-view" class="large-9 medium-8 columns">
        <div class="title-page">
            <h3>Cómo funciona</h3>
            <h5 class="subheader">Tucarga es la mejor herramienta para encontrar transporte a tu medida. Ya contamos con más de 250 empresas de transporte registradas para mover todo tipo de cargas a lo largo de Chile.</h5>
        </div> <!-- {{! end title page}} -->

        <div class="como flex-video widescreen vimeo">
          <iframe src="http://player.vimeo.com/video/53412056" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>

        <!-- CARGADOR -->
        <div id="como-cargador">
            <div class="title-page cargador">
                <h3>Empresa cargadora</h3>
                <p>Si tienes que mover carga spot, buscar nuevos proveedores, asegurar acuerdos por temporada con transportistas, o simplemente conocer nuevas ofertas del mercado, Tucarga es lo que necesitas.</p>
            </div><!--  {{! end title page}} -->

            <div class="row como-info">
                <div class="large-6 columns">
                    <h4>Como funciona</h4>
                    <ul>
                        <li><i class="number">1</i>Publicar tu carga es totalmente gratis, ¡sólo debes registrarte!</li>
                        <li><i class="number">2</i>Al entrar al sitio, debes hacer click en el tipo de operación que deseas realizar, completar el formulario de carga y luego publicar. Si tu empresa aún no está registrada, nos pondremos en contacto para validar la información de contacto luego de realizada la publicación.</li>
                        <li><i class="number">3</i>Recibe en tu email las cotizaciones enviadas por las empresas transportitas interesadas, compara y elige la alternativa que mejor se acomode a tus necesidades.</li>
                        <li><i class="number">4</i>Una vez acordada una transacción recibirás la información completa de la empresa transportista para que puedan coordinar la ejecución del servicio.</li>
                    </ul>
                </div>
                <div class="large-6 columns">
                    <h4>Beneficios</h4>
                    <ul>
                        <li><i class="fi-check"></i>Conoce nuevos  proveedores de transporte y compara las tarifas del mercado.</li>
                        <li><i class="fi-check"></i>Ahorra tiempo buscando transporte disponible. ¡Nosotros lo hacemos por ti!</li>
                        <li><i class="fi-check"></i>Accede a una red de proveedores confiables que han sido visitados y verificados por nuestro equipo. Siempre podrás evaluar a las empresas con las que trabajes, generando uan red de confianza.</li>
                        <li><i class="fi-check"></i>Recibe asesoría especializada en logística, requerimientos legales y todo tipo de dudas.</li>
                    </ul>
                </div>
            </div>

            <p>Si tienes algún requerimiento particular, siempre podremos ayudarte porque somos especialistas en el transporte de cargas. Contáctanos al 600 500 0606 y aclara tus dudas.</p>
            <br>
            <div class="box call-action">
                <div class="margin clearfix">
                    <h3 class="left">¿Qué estás esperando para probar Tucarga?</h3>
                    <a href="#/cotizar" class="button radius right">Publica carga</a>
                </div>
            </div>
        </div>
        <br>
        <!-- TRANSPORTISTA -->
        <div id="como-transportista">
            <div class="title-page transportista">
                </a><h3>Empresa transportista</h3>
                <p>Si quieres hacer crecer tu negocio, conocer nuevos clientes y optimizar tus viajes, ¡únete a nuestra red de transporte, son solo 12 UF al año!</p>
            </div><!--  {{! end title page}} -->

            <div class="row como-info">
                <div class="large-6 columns">
                    <h4>Como funciona</h4>
                    <ul>
                        <li><i class="number">1</i>Si aún no estás registrado en nuestro sistema, ingresa al directorio de transporte y haz click en <a href="https://api.tucarga.cl/directory/registration/" class="">regístrate</a> .</li>
                        <li><i class="number">2</i>Nos pondremos en contacto dentro de 24 horas hábiles para validar la información de tu empresa y agendar una visita.</li>
                        <li><i class="number">3</i>Una vez verificada la información, estarás dentro de nuestra base de datos y comenzarás a recibir en tu email notificaciones de las distintas oportunidades de carga que se publican diariamente según tipo de carga y cobertura donde entregues tus servicios.</li>
                        <li><i class="number">4</i>Las distintas oportunidades de negocio irán llegando a tu correo con toda la información de la operación a realizar. Si es de tu interés, podrás entregar de inmediato tu tarifa y condiciones.</li>
                        <li><i class="number">5</i>El cargador recibirá tu cotización y podrá aceptarla o rechazarla, decisión que te será notificada. Si la cotización es aceptada, te enviaremos la información completa de la empresa para que se contacten y coordinen la ejecución del servicio de transporte.</li>
                    </ul>
                </div>
                <div class="large-6 columns">
                    <h4>Beneficios</h4>
                    <ul>
                        <li><i class="fi-check"></i>Accede  a cargas  en todo Chile y conoce nuevos clientes.</li>
                        <li><i class="fi-check"></i>Da a conocer tu empresa al mercado a través de nuestro directorio indicando coberturas y servicios.</li>
                        <li><i class="fi-check"></i>Ahorra tiempo buscando cargas disponibles.</li>
                        <li><i class="fi-check"></i>Las empresas registradas son de confianza y han sido validadas por nosotros. Siempre puedes evaluar a tu contraparte después de un servicio.</li>
                    </ul>
                </div>
            </div>

            <div class="box call-action">
                <div class="margin clearfix">
                    <h3 class="left">Únete a la comunidad de transporte de Chile</h3>
                    <a href="http://api.tucarga.cl/directory/registration/" class="button radius right">Regístrate aquí</a>
                </div>
            </div>
        </div>

    </div> <!-- {{! end content view }} -->

    </div>
</div> <!-- {{! end content page }} -->

<!-- Load foundation -->
<script>
    $(document).foundation();
    $(document).ready(function() {
        $( ".prevent" ).click(function( ) {
          event.preventDefault();
        });
    });
</script>

