<div id="intro-index" class="">
    <div class="row">
        <div id="intro-tools" class="large-9 medium-12 small-12 columns">
            <img src="images/tool-cargador.png" alt="Empresa cargadora">
            <div class=" intro">
                <h2>Más proveedores, más rutas, ¡mejores precios!</h2>
                 <p>¿Buscas transporte spot y tus proveedores no tienen disponibilidad? ¿Necesitas asegurar transporte por la temporada? ¿Quieres conocer nuevos proveedores para tus rutas?</p><br />
                 <p><strong>Tucarga.cl</strong> es la mejor herramienta para encontrar transporte disponible a tu medida.</p>
            </div>
            <div class="cotizar">
                <h4>Publica aquí según la operación que quieras realizar: </h4>
                <ul class="button-group radius">
                  <li><a href="#/cotizar/importacion" class="button"><img src="images/impo.jpg"> Importación</a></li>
                  <li><a href="#/cotizar/exportacion" class="button"><img src="images/expo.jpg"> Exportación</a></li>
                  <li><a href="#/cotizar/domestica" class="button"><img src="images/carga.jpg"> Carga doméstica</a></li>
                  <li><a href="#/cotizar/contenedor" class="button"><img src="images/vacio.jpg"> Contenedor vacío</a></li>
                </ul>
            </div>
        </div>
        <div class="large-3 medium-3 columns"></div>
    </div>
</div> <!-- {{! end intro index }} -->

<div id="como-index">
    <div class="row">
        <div class="large-12 columns title-section">
            <h2>Publicar carga es muy fácil ¡y gratis!</h2>
            <h4>Sólo 4 pasos para mover tu negocio, <a href="#/como_funciona">Ver más</a></h4>
        </div>
    </div>

    <div class="row">
        <div class="large-3 medium-6 columns">
            <img src="images/step1.png" alt="Es gratis">
            <h5>Publica carga</h5>
            <p>Completa el formulario según el tipo de carga a transportar y envía tu solicitud.</p>
        </div>

        <div class="large-3 medium-6 columns">
            <img src="images/step2.png" alt="Cotiza ahora">
            <h5>Buscamos a los mejores</h5>
            <p>Confírmanos tu solicitud y buscaremos las mejores opciones para ti.</p>
        </div>

        <div class="large-3 medium-6 columns">
            <img src="images/step3.png" alt="Buscar tranportista">
            <h5>Compara y elige</h5>
            <p>Recibe un correo con las cotizaciones recibidas. Compara y elige la mejor.</p>
        </div>

        <div class="large-3 medium-6 columns">
            <img src="images/step4.png" alt="Elige el mejor">
            <h5>Coordina tu transporte</h5>
            <p>Contacta al  transportista para realizar la operación y ¡mueve tu negocio!</p>
        </div>
    </div>
</div> <!-- {{! end como funciona }} -->

<div id="beneficios-index">
    <div class="row">
        <div class="large-12 columns title-section">
            <h2>Beneficios que te sirven</h2>
            <h4>Descubre por qué somos un gran aliado para tu negocio</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 columns ">
            <div class="box clearfix">
                <div class="cargador">
                    <h5>Empresa generadora de carga</h5>
                    <ul class="clearfix">
                        <li><i class="fi-check"></i>Accede al directorio de transporte <strong>más amplio de Chile.</strong></li>
                        <li><i class="fi-check"></i><strong>Ahorra tiempo</strong> buscando transporte a tu medida.</li>
                        <li><i class="fi-check"></i>Recibe tarifas sin intermediación, <strong>no cobramos comisión.</strong></li>
                        <li><i class="fi-check"></i>Trabaja con <strong>transportistas confiables</strong> y recomendados.</li>
                        <li><a href="#/cotizar" class="button radius create">Publica carga</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-6 medium-6 columns transportista">
            <div class="box clearfix">
                <div class="transportista">
                    <h5>Empresa transportista</h5>
                    <ul>
                        <li><i class="fi-check"></i>Accede a nuevos clientes y <strong>aumenta tu volumen de viajes.</strong></li>
                        <li><i class="fi-check"></i><strong>Dale visiblidad a tu empresa.</strong></li>
                        <li><i class="fi-check"></i><strong>Nosotros te contactamos</strong> cuando exista una carga de tu interés.</li>
                        <li><i class="fi-check"></i><strong>Optimiza tus viajes</strong> y reduce los trayectos vacíos.</li>
                        <li><a href="http://api.tucarga.cl/directory/registration/" class="button radius create">Regístrate aquí</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- {{! end beneficios }} -->

<div id="testimonios-index">
    <div class="row">
        <div class="large-12 columns title-section">
            <h2>Empresas que han confiado en nosotros</h2>
            <h4>Queremos saber la opinión de nuestros clientes para entregar siempre el mejor servicio</h4>
        </div>
    </div>
    <div class="background">

        <div class="row">
            <div class="large-12 columns">
                <ul class="example-orbit-content" data-orbit>
                  <li data-orbit-slide="headline-1">
                      <div class="margin">
                        <div class="row">
                            <div class="large-6 medium-6 columns">
                                <img src="images/logo_2.jpg" alt="Cotiza ahora">
                                <blockquote>Para mÍ, antes era un problema distribuir mis muebles fuera de la Región Metropolitana, pero Tucarga.cl ha sido una gran solución. El tiempo de respuesta de las cotizaciones es preciso y siempre recibo mínimo 3 ofertas de las cuales elijo por servicio, calidad y precio
                                <cite>Claudio Bravo Cepeda, empresario <strong>De Madera</strong></cite>
                                </blockquote>
                            </div>
                            <div class="large-6 medium-6 columns">
                                <img src="images/logo_3.jpg" alt="Cotiza ahora">
                                <blockquote>Tucarga.cl me ha ayudado bastante para poder llevar la sal en maxi sacos desde Iquique hasta Santiago, especialmente en temporada alta. Así he podido abastecerme de forma constante y sin dejar de recibir mi producto, lo que ha facilitado la exportación. He encontrado nuevos proveedores y me han funcionado muy bien.
                                <cite>Trinidad Pacheco, Gerente de Operaciones <strong>Sal Trinidad</strong></cite>
                                </blockquote>
                            </div>
                        </div>
                      </div>
                  </li>
                  <li data-orbit-slide="headline-2">
                      <div class="margin">
                        <div class="row">
                            <div class="large-6 medium-6 columns">
                                <img src="images/logo_4.jpg" alt="Cotiza ahora">
                                <blockquote>Tucarga.cl me da mucha confianza porque sé que hay una evaluación previa que filtra antes de proceder. El servicio es excelente, con una atención personalizada y rápida ante cualquier solicitud. Ha sido una gran ayuda para el transporte de contenedores vacíos hasta el puerto. Lo recomiendo 100%.
                                <cite>Marco Agüero, Gerente de Operaciones <strong>CMA-CGM Chile</strong></cite>
                                </blockquote>
                            </div>
                            <div class="large-6 medium-6 columns">
                                <img src="images/logo_1.jpg" alt="Cotiza ahora">
                                <blockquote>Gracias a Tucarga.cl hemos ampliado nuestra cartera de clientes y hemos encontrado nuevos nichos. Además, aumentó nuestra rentabilidad sin perder nada a cambio, ha sido una puerta para aumentar la productividad de mis camiones.
                                <cite>Mauricio Garrido, Coordinador Logístico <strong>Transportes Lanzotti Cargo</strong></cite>
                                </blockquote>
                            </div>
                        </div>
                      </div>
                  </li>
            </div>
        </div>

    </div>
</div> <!-- {{! end testimonios }} -->

<div id="ayuda-index">
    <div class="row">
        <div class="large-12 columns title-section">
            <h2>¿Tienes dudas?</h2>
            <h4>En Tucarga siempre estamos dispuestos a darte una solución.</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns clearfix">
            <ul>
                <li><a href="#/contacto">Contacto</a></li>
                <li><a href="#/ayuda">Preguntas frecuentes</a></li>
                <li><a href="#/como_funciona">Cómo funciona</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).foundation();
</script>
